# Python intro

#### Variable

In [7]:
#1
firstVariable=30
print(type(firstVariable))

<class 'int'>

In [8]:
#aynı değişkenlr farklı çıktılar elde etmek
firstVariable="akademi"
print(firstVariable)

akademi

#### Counter

In [11]:
import collections
firstVariable=collections.Counter([1,2,2,2,3,4,4,5])
print(type(firstVariable))

<class 'collections.Counter'>

In [12]:
#hangi sayıdan kaç tane olduğunu döndürüyor
print(firstVariable)

Counter({2: 3, 4: 2, 1: 1, 3: 1, 5: 1})

#### Constants

In [ ]:
my_constant= 15

#### Function

In [13]:
def add_two_numbers(number1,number2):
    total=number1+number2
    print(total)

In [14]:
add_two_numbers(15,20)

35

In [15]:
def add_two_numbers2(number1,number2):
    total=number1+number2
    return total

In [16]:
add_two_numbers2(10,20)

30

In [19]:
text="deneme metni"
str.upper(text)

'DENEME METNI'

In [21]:
import math
math.pow(2,4)

16.0

#### Docstring

In [27]:
def my_power(number1,number2):
    """
    Raise a number to a arbitarry power

    :param number1: int base number
    :param number2: int power to raise 
    :return: int number raised to power of second number

    """
    result=number1**number2
    return result

my_power(3,2)

9

In [30]:
#fonksiyon içi açıklama kısmına erişim
print(my_power.__doc__)
print(str.__doc__)

Raise a number to a arbitarry power

:param number1: int base number
:param number2: int power to raise
:return: int number raised to power of second number


str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

#### Numbers

In [2]:
my_numbers=1235
print(type(my_numbers))

my_float=3.14
print(type(my_float))

<class 'int'>
<class 'float'>

In [7]:
6//5

1

In [12]:
6/4

1.5

In [11]:
#kalanı bulma
8%3

2

In [14]:
#Expressing the result with fusion operations without using modulo
whole_part=int(5/3)
decimal_part=5/3 - whole_part
whole_remainder= decimal_part*3
print(whole_remainder)

2.0

In [18]:
a= 2**3
b= 2**0.5
print(a)
print(b)

int(b)
float(a)

8
1.4142135623730951

8.0

In [32]:
c=round(3.92535,2)
d=round(3,44)

print(c)
print(d)

3.93
3

In [30]:
import math
print(math.floor(3.998))

3

In [37]:
import random 
random.randint(0,88)

62

#### Strings

In [42]:
my_string= "my firs text: 'python intro'"
long_string='''
                    uzun metin yazmak
                      için 
                    kullanılabilir
'''
print(my_string)
print(long_string)

my firs text: 'python intro'

                    uzun metin yazmak
                      için
                    kullanılabilir

In [46]:
number=1213
new_number=str(number)
new_number+'15'

'121315'

In [53]:
print(my_string)
print(my_string[0])
print(my_string[-2])

len(my_string)

my firs text: 'python intro'
m
o

28

In [58]:
#<str>[<start>:stop:<step>]
print(my_string[1:4])
convert=my_string[: : -1]
print(convert)

y f
'ortni nohtyp' :txet srif ym

In [63]:
my_string.split()

['my', 'firs', 'text:', "'python", "intro'"]

In [68]:
animals=['horse','dog','bear']
"-".join(animals)

'horse-dog-bear'

#### Fstrings

In [69]:
name="aliye"
age="23"
print(f"My name is {name}, my age is {age}")

My name is ali, my age is 23

In [80]:
import datetime
today=datetime.datetime.today()
print(today)
print(f"{today: %d %B %Y}")

2023-11-26 13:47:40.620992
 26 November 2023

#### Boolean

In [86]:
my_variable=1

if my_variable:
    print("yes it is true")
else:
    print("no it is flase")

my_variable is False

yes it is true

False